.hint {
  padding: 10px;
  font-size: smaller;

  span,
  .notAllowed {
    display: inline-block;
    padding: 5px;
    min-width: max-content;

    background-color: var(--default-status);
    border-radius: 10px;
  }

  .notAllowed {
    padding: 10px;
    background-color: var(--error-status);
  }
}

.strength {
  margin-bottom: 1rem;
  padding: 10px;

  background-color: var(--default-status);

  &.easyPassword,
  &.shortPassword {
    background-color: var(--error-status);

    &.defaultStatus {
      background-color: var(--default-status);
    }
  }

  &.mediumPassword {
    background-color: var(--warn-status);

    &.defaultStatus {
      background-color: var(--default-status);
    }
  }

  &.strongPassword {
    background-color: var(--success-status);

    &.defaultStatus {
      background-color: var(--default-status);
    }
  }

  border-radius: 10px;
}
