.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
  font-size: large;

  .password {
    width: 100%;
    padding: 10px;

    border: solid 1px var(--primary-color);
    border-radius: 10px;
  }

  .easy,
  .medium,
  .strong {
    padding: 10px;

    background-color: var(--default-status);
    border-radius: 10px;
  }

  .hint {
    padding: 10px;
    margin-top: 2rem;

    span {
      display: inline-block;
      padding: 5px;
      min-width: max-content;

      background-color: var(--default-status);
      border-radius: 10px;
    }
  }
}
