.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
  font-size: large;

  .inputField {
    display: flex;
    gap: 1rem;
  }

  .password {
    width: 100%;
    padding: 10px;

    border: solid 1px var(--primary-color);
    border-radius: 10px;
  }
}

.dialog {
  .dialog-content {
    display: flex;
    flex-direction: column;
  }

  border: solid 1px var(--primary-color);
  border-radius: 10px;

  button {
    margin-top: 1rem;
  }
}

.button {
  padding: 10px;

  border: solid 1px var(--primary-color);
  border-radius: 10px;
}
